.background__home{
    background-color: black;
    background-image: url("../../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

.background__projects{
    background-color: black;
    background-image: url("../../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}
