footer{
    background-color: black!important;
    width: 100%;
    grid-area: footer;
    padding: 0.5rem;
    .footer__icons {
        margin-right: 1rem!important;
    }
    
    .logo__footer {
        align-items: center;
        margin-left: 0rem!important;
    }
    .text-muted {
        --bs-text-opacity: 1;
        color: white!important;
        
    }
}