header{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.565);
    .lab__logo{
        max-width: 150px;
        display: inline-block;
    }
    .header__nav{    color: blue;
    display: contents;
    font-size: 25px;
    }
    .lab__logo{
        max-width: 150px;
        display: inline-block;
    }
    
}