.hero{
}
.hero__title {
    font-size: 3rem;
    color: white;
    padding-bottom: 3rem;
    align-self: center;
    text-align: center;
}
.hero__slogan {
    margin: 1rem;
    height: 25vh;
    text-align: center;
}
.hero__wrapper{
    position: absolute;
    top: 20%;
    left: 0px;
}
