#info__card {
    background: #ffffff57;
    grid-area: info__card;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .profile__info{
        background: #ffffff99;
        margin: 1rem;
        border-radius: 10px;
        padding: 0.5rem;
        width:auto !important;
        .profile__body{
            background-color: ffffff57;
        }
    }
}
.card_prof {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.border {
    height: 250px;
    width: 250px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;


    &:hover{
    border: 1px solid white}}

    .card{
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative}

    .card0 {
        background: url(../../img/testimonials-1.jpg) center center no-repeat;
        background-size: 200px;
        height: 200px;
        width: 200px;
    
    &:hover{
    background: url(../../img/testimonials-1.jpg) center center no-repeat;
    background-size: 400px;
    object-fit: cover;
    }}