#info__card {
    background: #ffffff05;
    grid-area: info__card;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .profile__info{
        background: #ffffff99;
        margin: 1rem;
        border-radius: 10px;
        padding: 0.5rem;
        width:auto !important;
        .profile__body{
            background-color: ffffff57;
        }
    }
}
.card_prof {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.border {
    height: 250px;
    width: 250px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;


    &:hover{
    border: 1px solid white}}

    .card{
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative}

    .card0 {
        background: url(../../img/testimonials-1.jpg) center center no-repeat;
        background-size: 200px;
        height: 200px;
        width: 200px;
    
    &:hover{
    background: url(../../img/testimonials-1.jpg) center center no-repeat;
    background-size: 400px;
    object-fit: cover;
    }}

    .name {
        margin: auto;
        width: inherit;
        text-align: center;
        top: -60px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        animation: fadeIn 2s ease-in;
        a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
            &:hover {
            text-decoration: underline;
            color: #ffc107;
        }
        }
        h6 {
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            color: white;
            width: 40px;
        }
    }
    .button {
        margin: auto;
        padding: 8px;
        top: 20px;
        right: 0;
        bottom: 0;
        left: 0;
        width: inherit;
        height: 40px;
        text-align: center;
        animation: fadeIn 2s ease-in;
        outline: none;
    }
    .ds-info {
        margin: 1rem;
        top: 120px;
        bottom: 0;
        right: 0;
        left: 0;
        width: inherit;
        height: 40px;
        display: flex;
        .pens, .projects, .posts {
        left: -300px;
        width: calc(250px / 3);
        text-align: center;
        color: white;
        animation: fadeInMove 2s;
        animation-fill-mode: forwards;
        h6 {
            text-transform: uppercase;
            color:#ffc107;
        }
        }
        .ds {
            &:nth-of-type(2) {
            animation-delay: .5s;
            }
            &:nth-of-type(1) {
            animation-delay: 1s;
            }
        }
        }

.contact_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.biodesc {
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: justify;
}