@mixin spot-config {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #0f0e0e40;
    min-height: 50vh;
    
}

main{
    height: auto;
    .spot1 {
        background-image: url(../../img/spot4.jpg);
        background-position: center bottom;
        @include spot-config()
    }
    .spot2{
        background-color: rgba(0, 0, 0, 0.565);
    }
    .spot3 {
        background-image: url(../../img/spot3.jpg);
        background-position: center;
        color: #FFFFFF;
        @include spot-config()
    }
    .spot__texto {
        height: 100%;
        flex-direction: column;
        padding: 1rem;
    }
}