.spot__contact{
    background-image: url(../../img/img_social.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: soft-light;
    background-color: #0f0e0e8c;
    
}