@import "partial/header";
@import "partial/main_home";
@import "partial/hero_home";
@import "partial/mobile";
@import "partial/footer";
@import "partial/container_profile";
@import "partial/info__card";
@import "partial/backgrounds";
@import "partial/hero_cotact";
@import "partial/utilitarias";
@import "partial/spot_contact";
@import "partial/skillbar";
@import "partial/worklist";






.proposal{
    display: block;
    .first_section{
        display: flex;
        justify-content: center;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        .first_section--text{
            display: flex;
            flex-direction: column;
            max-width:390px;
            
        }
        }
        }
        .img_block{
            margin-right: 20px;
            .img_toppost{
                position: relative;
                flex-direction: column;
                justify-content: center;
                }
                .circles{
                    width: 100%;
                }
        } 
    .second_section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        .img_block_2{
            margin-right: 20px;
            .img-circule-05{
                border-radius: 50%;
            width: 100%;
            max-width: 400px;
            }
        }
        .second_section--text{
            margin-left: 2.5rem;
            margin-right: 2.5rem;
            max-width:390px;
        }
    }
    .third_section{
        width: 100%;
        padding-bottom: 2.5rem;
        .third_section--post{
            display:flex;
            align-items: center !important;
            justify-content: center !important;
            padding: 50px;
            .img-circule-04{
                width: 300px;
                height: 300px;
                border-radius: 50%;
            }
            .third_section--text{
                margin-left: 20px;
                max-width:390px;
            }
        }
    }