*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-color: black;
    background-image: url("../../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

:root{
    font-size: 16px;
}
/*HEADER*/

.header {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    justify-content: space-between;

}



.header__logo {
    max-width: 150px;
    background-color: black;
    display: flex;
}


.header__item{
    display: inline-block;
    padding: 1rem 0.5rem;
    background-color: tomato;
    
}

.header__nav {
    color: blue;
    display: contents;
    font-size: 25px;
}

/* COMPLEMENTOS NAVBAR */
a {
    color: #fdfdfd;
    text-decoration: underline;
}

.dropdown-menu {
    --bs-dropdown-bg: rgba(255, 255, 255, 0.19);
    --bs-dropdown-min-width: 6rem;
}

/* COMPLEMENTOS NAVBAR */


.header__anchor{
    background-color: antiquewhite;
}

.header__anchor--activo{
    background-color: burlywood;
}

/* HEADER */



/* MAIN */

main {
    height: 990px;
}

.spot{
    height: 50vh;

}

.spot1 {
    background-image: url(../../img/spot4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.spot2{
    background-color: rgba(0, 0, 0, 0.565);
}

.spot3 {
    background-image: url(../../img/spot3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    background-position: center;
}


.spot__texto{
    height: 100%;
    flex-direction: column;
}
/* MAIN FIN */

/* HERO */

.hero{
}

.hero__wrapper{
    position: absolute;
    top: 20%;
    left: 0px;
}
.hero__heading {
    color: tomato;
    background-color: #ffffff00;
}

.hero__title {
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

.hero__slogan{
    margin: 2rem;
    height: 25px;
}
/*hero fin*/

/* SPOT__1 */

section#spot__1 {
}

/* FIN SPOT__1 */

/* SPOT__2 */

section#spot__2 {
}

/* FIN SPOT__2 */

/*nav {
    grid-area: nav;
    background-color: transparent;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;

}*/

/* Clases Utilitarias*/

/*.btn {
    color: rgb(45 5 100 / 95%);
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #767676a8;
    width: 223px;
    border-radius: 6px;
    position: relative;
}*/

/* Fin Clases Utilitarias*/

/*NOSOTROS*/

.block{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2rem;
    height: 50vh;

}

.block__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'inter',Arial, Helvetica, sans-serif;
}
.member__img{
    width:100%
}

/*INFOCARD*/

.info {
    background-color: rgb(0, 0, 0);
    bottom: 0px;
    color: black;
    padding: 0rem 1rem;
    gap: 1rem;
    display: flex;
}

.infocard {
    color: rgb(61, 33, 153);
    overflow: hidden;
    background-color: black;
    padding: 1rem 2rem;
}

.infocard__img{
    width: 100%;
}

.infocard__titulo {
    background-color: black;
}

.infocard__desc {
    height: 166px;
}

/* footer */
footer{
    background-color: grey;
}

/* footer */

/* ESTILOS MOBILE */
@media screen and (min-width: 768px) {
	.main {
        background-color: red;
        border: green;
    }
    .main {
    	/*border: 4px solid yellow;*/
    	background-color: #ffffff00;
    }
}

@media screen and (max-width: 480px) {
    .btn__nav{
        display: none;
    }

	.main {
        background-color: green;
    }
    .main {
    	border: 4px solid red;
    	background-color: #ffffff00;
    }
}

