header {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  justify-content: space-between; }
  header .lab__logo {
    max-width: 150px;
    display: inline-block; }
  header .header__nav {
    color: blue;
    display: contents;
    font-size: 25px; }

main {
  height: auto; }
  main .spot1 {
    background-image: url(../../img/spot4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: soft-light;
    background-color: #0f0e0e40;
    height: 50vh; }
  main .spot2 {
    background-color: rgba(0, 0, 0, 0.565); }
  main .spot3 {
    background-image: url(../../img/spot3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #0f0e0e40;
    height: 50vh; }
  main .spot__texto {
    height: 100%;
    flex-direction: column;
    padding: 1rem; }

.hero__title {
  font-size: 3rem;
  color: white;
  padding: 1rem;
  align-self: center;
  text-align: center;
  height: 25vh; }

.hero__slogan {
  margin: 1rem;
  height: 25vh;
  text-align: center; }

.hero__wrapper {
  position: absolute;
  top: 20%;
  left: 0px; }

@media screen and (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    justify-content: center !important; } }

@media screen and (max-width: 425px) {
  .btn__nav {
    display: none; }
  .h3, h3 {
    font-size: calc(1.3rem + .6vw);
    align-self: center; }
  .hero__slogan {
    margin: 1rem;
    height: 60vh;
    text-align: center; }
  .icon {
    margin-right: 1rem;
    margin-top: 1rem !important; }
  .mb-auto {
    margin-bottom: auto !important;
    display: contents; }
  footer {
    flex-direction: column; } }

@media only screen and (max-width: 425px) {
  .container__profile {
    grid-template-columns: 1fr !important;
    grid-template-rows: 0.5fr 1fr 2fr 1fr 1fr 1fr !important;
    grid-template-areas: "nav" "sidebar" "content1" "content2" "content3" "footer" !important; } }

footer {
  background-color: black !important;
  width: 100%; }
  footer .footer__icons {
    margin-right: 1rem !important; }
  footer .logo__footer {
    align-items: center;
    margin-left: 0rem !important; }
  footer .text-muted {
    --bs-text-opacity: 1;
    color: white !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Profile Page */
.container__profile {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 4fr 4fr;
  grid-template-rows: 1fr 2fr 3fr 1fr;
  grid-template-areas: "sidebar nav nav" "sidebar content1 content2" "sidebar content1 content3" "footer footer footer";
  grid-gap: 0.5rem; }

nav {
  display: grid;
  background-color: grey;
  grid-area: nav; }

.sidebar__profile {
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
  grid-area: sidebar;
  display: flex;
  flex-direction: column; }

#content1 {
  background-color: white;
  grid-area: content1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.imgbx {
  align-items: center;
  width: 33%;
  flex-direction: row-reverse; }

.imgbx img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 45px; }

.profile__info {
  background: gray;
  margin: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  width: auto !important; }

#content2 {
  background-color: blue;
  grid-area: content2; }

#content3 {
  background-color: brown;
  grid-area: content3; }

footer {
  background-color: #1de9b6;
  grid-area: footer; }

.lab__logo {
  max-width: 150px;
  display: inline-block; }

/* Profile Page*/
.row {
  --bs-gutter-x: auto; }

.background__home {
  background-color: black;
  background-image: url("../../img/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF; }

.background__projects {
  background-color: black;
  background-image: url("../../img/fondo2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF; }

.profile__body {
  background-color: grey; }

:root {
  font-size: 16px; }

/*HEADER*/
/* COMPLEMENTOS NAVBAR */
a {
  color: #fdfdfd;
  text-decoration: underline; }

.dropdown-menu {
  --bs-dropdown-bg: rgba(255, 255, 255, 0.19);
  --bs-dropdown-min-width: 6rem; }

/* MAIN */
.spot__contact {
  background-image: url(../../img/img_social.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-blend-mode: soft-light;
  background-color: #0f0e0e8c; }

/* MAIN FIN */
/* HERO */
.hero__title-contact {
  font-size: 3rem;
  color: white;
  padding: 1rem;
  align-self: center;
  text-align: center; }

.hero__slogan-contact {
  margin: 1rem;
  text-align: center; }

/*hero fin*/
/* Clases Utilitarias*/
.btn__nav {
  text-decoration: none; }

/* Fin Clases Utilitarias*/
/* register */
.user__pass {
  display: block; }

/* register fin */
.register {
  margin: 1rem;
  padding: 1rem; }
