@import "partial/header";
@import "partial/main_home";
@import "partial/hero_home";
@import "partial/mobile";
@import "partial/footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Profile Page */

.container__profile{
    display:grid;
    height:100vh;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-rows: 1fr 2fr 3fr 1fr;
    grid-template-areas: 
    "sidebar nav nav"
    "sidebar content1 content2"
    "sidebar content1 content3"
    "footer footer footer";
    grid-gap:0.5rem
}

nav{
    display: grid;
    background-color:grey;
    grid-area: nav;
}

.sidebar__profile {
    background-color: RGBA(33,37,41,var(--bs-bg-opacity,1))!important;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

#content1 {
    background-color: white;
    grid-area: content1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgbx {
    align-items: center;
    width: 33%;
    flex-direction: row-reverse;
}
.imgbx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45px;
}

.profile__info{
    background: gray;
    margin: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    width:auto !important;
}

#content2{
    background-color:blue;
    grid-area: content2;
}

#content3{
    background-color:brown;
    grid-area:content3;
}

footer{
    background-color:#1de9b6;
    grid-area: footer;
}

.lab__logo{
    max-width: 150px;
    display: inline-block;
}



/* Profile Page*/




.row {
    --bs-gutter-x: auto;
}

.background__home{
    background-color: black;
    background-image: url("../../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

.background__projects{
    background-color: black;
    background-image: url("../../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

.profile__body{
    background-color: grey;
}

:root{
    font-size: 16px;
}
/*HEADER*/



/* COMPLEMENTOS NAVBAR */
a {
    color: #fdfdfd;
    text-decoration: underline;
}

.dropdown-menu {
    --bs-dropdown-bg: rgba(255, 255, 255, 0.19);
    --bs-dropdown-min-width: 6rem;
}


/* MAIN */



.spot__contact{
    background-image: url(../../img/img_social.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: soft-light;
    background-color: #0f0e0e8c;
    
}

/* MAIN FIN */

/* HERO */

.hero__title-contact {
    font-size: 3rem;
    color: white;
    padding: 1rem;
    align-self: center;
    text-align: center;
}



.hero__slogan-contact{
    margin: 1rem;
    text-align: center;
}
/*hero fin*/

/* Clases Utilitarias*/

.btn__nav{
    text-decoration: none;
}

/* Fin Clases Utilitarias*/

/* register */

.user__pass{
    display: block;
}

/* register fin */

.register{
    margin: 1rem;
    padding: 1rem;
}
